/* stylelint-disable all */

@tailwind base;
@tailwind utilities;

@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");

  body {
    @apply text-white bg-navy;
  }

  h1 {
    @apply text-4xl xs:text-5xl sm:text-5xl md:text-6xl lg:text-[5.7rem] leading-[1.1] font-bold;

    transition: all 0.3s ease-out;
  }

  h2 {
    @apply text-3xl xs:text-4xl sm:text-4xl md:text-5xl lg:text-6xl font-bold;

    transition: all 0.3s ease-out;
  }

  h3 {
    @apply text-xl xs:text-2xl sm:text-2xl md:text-3xl lg:text-4xl font-semibold;

    transition: all 0.3s ease-out;
  }

  h4 {
    @apply text-xl lg:text-2xl font-bold;

    transition: all 0.3s ease-out;
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  .blast {
    opacity: 0;
    display: inline-block;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
}

@keyframes rubber {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    -ms-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    -ms-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    -ms-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    -ms-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    -ms-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
