/* stylelint-disable*/

.tag {
  @apply text-xs font-medium xs:font-bold xs:text-base absolute top-1/2 left-1/2 opacity-0 origin-center text-green;

  will-change: transform, opacity, filter;

  filter: alpha(opacity=0);
  transform: translate3d(-50%, -50%, 0) scale(1);
}
